#node modules folder
node_modules

#Netlify functions folder
functions

#env variables
.env

#deta CLI
.deta

#Google credential.
./to_backend/meme-menace-firebase-adminsdk-tjdg1-41625b4048.json

#Database
./src/to_backend/DB.json

# Local Netlify folder
.netlify
